# Foundry
contracts/out/
contracts/cache/
contracts/broadcast/
contracts/artifacts/

# App environments
**/node_modules/
**/.next/
**/dist/
**/.astro/
**/.venv/
**/__pycache__/

.env
.env.*
!.env.example
